@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: cadetblue;
    color: #f7f7f7;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 5rem;
}


.product-item {
    width: 100%;
    background: #f7f7f7;
    padding: 2rem;
}

.product-item > h2 {
    font-size: 20px;
    margin-top: 1rem;
}

.product-item > p {
    font-size: 14px;
    margin: 1rem 0;
}

.product-item .product-img {
    width: 100%;
}

.product-item .align-tow-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item .add-to-cart {
    display: flex;
    gap: 1rem;
}

.product-item .add-to-cart .btn {
    padding: 10px 20px;
}

.product-item .add-to-cart .btn i {
    font-size: 1.5em;
}

.product-item .add-to-cart .preview {
    font-weight: 700;
    border: 2px solid #05becf;
}



@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-item > h2 {
        font-size: 15px;
        margin-top: 0.5rem;
    }
    .product-item > p {
        font-size: 12px;
        margin: 0.5rem 0;
    }

    .product-item .add-to-cart .btn {
        padding: 5px 10px;
        font-size: 10px;
    }

    .product-item .rating-and-sales {
        font-size: 12px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-item > h2 {
        font-size: 16px;
        margin-top: 0.5rem;
    }

    .product-item > p {
        font-size: 12px;
        margin: 0.5rem 0;
    }

    .product-item .add-to-cart .btn {
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1201px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
}

